* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .container {
  width: 500px;
  text-align: center;
}

.page .container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.page .container .social {
  text-align: center;
}

.page .container .social ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.page .container .social ul li a {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  border: 1px solid #333;
  display: block;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 50%;
  color: #333;
}

.page .container .social ul li a:hover {
  background-color: #333;
  color: #fff;
}
